.counter-container {
    display: flex;
    justify-self: center;
}

button {
    margin: 10px;
    padding: 0px 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}